body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.list-item {
  padding:10px 15px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px 0 #d8d8d8;
  border-radius: 5px;
  color:#484848;
}
.list-item:hover {
  box-shadow: 1px 1px 7px 0 #8d8c8c;
  color:#000;
}

.list-item span {
  display:inline-block;
}

.list-item h5 {
  margin-bottom: 5px;
}

.programming-languarge {
  min-width: 100px; 
  margin-left: 5px;
}

.rep-id {
  min-width: 50px;
  margin-right: 10px;
}

.watch {
  min-width: 25px;
}

.star {
  margin-left: 5px;
}
